<a href="https://colab.research.google.com/github/neisg/Python---Imobiliaria/blob/main/IMOBILIARIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
#Imobiliaria
#House Rocket

In [108]:
import pandas as pd

In [109]:
data = pd.read_csv('/content/kc_house_data.csv')

In [110]:
# mostrar 5 primeiras linhas
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [111]:
#linhas e colunas
print(data.shape)

(21613, 21)

In [112]:
#Ordenadar colunas (price)
print( data[[ 'id', 'price']].sort_values( 'price'))

               id      price
1149   3421079032    75000.0
15293    40000362    78000.0
465    8658300340    80000.0
16198  3028200080    81000.0
8274   3883800011    82000.0
...           ...        ...
1448   8907500070  5350000.0
4411   2470100110  5570000.0
9254   9208900037  6885000.0
3914   9808700762  7062500.0
7252   6762700020  7700000.0

[21613 rows x 2 columns]

In [113]:
#Ordenadar colunas (price) por ordem decrescente
print( data[[ 'id', 'price']].sort_values( 'price', ascending=False))

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [114]:
data['date']

0        20141013T000000
1        20141209T000000
2        20150225T000000
3        20141209T000000
4        20150218T000000
              ...
21608    20140521T000000
21609    20150223T000000
21610    20140623T000000
21611    20150116T000000
21612    20141015T000000
Name: date, Length: 21613, dtype: object

In [115]:
#COMO CONVERTER OS TIPOS DE VARIAVEIS

In [116]:
#inteiro - float
data['bedrooms'] = data['bathrooms'].astype( float)

In [117]:
#float - inteiro
data['bedrooms'] = data['bathrooms'].astype( int )

In [118]:
#inteiro - string
data['bedrooms'] = data['bathrooms'].astype( str )

In [119]:
#string - inteiro
data['bedrooms'] = data['bathrooms'].astype( int )

In [120]:
#string - data
data['date'] = pd.to_datetime( data ['date'])

In [121]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [122]:
                                 # REGRA DE NEGOCIO

In [123]:
# 1-QUAL A DATA DO IMOVEL MAIS ANTIGO NO PORTFOLIO?
#ORDENAR O CONJUTO DE DADOS PELA MENOR DATA
data['date'] = pd.to_datetime(data['date'])
print(data.sort_values( 'date', ascending=True))

               id       date      price  bedrooms  bathrooms  sqft_living  \
16768  5561000190 2014-05-02   437500.0         2       2.25         1970
9596    472000620 2014-05-02   790000.0         2       2.50         2600
9587   1024069009 2014-05-02   675000.0         2       2.50         2820
20602  7853361370 2014-05-02   555000.0         2       2.50         3310
11577  5056500260 2014-05-02   440000.0         2       2.25         2160
...           ...        ...        ...       ...        ...          ...
7898   1422700040 2015-05-14   183000.0         1       1.00         1170
928    8730000270 2015-05-14   359000.0         2       2.75         1370
5637   7923600250 2015-05-15   450000.0         2       2.00         1870
13053  5101400871 2015-05-24   445500.0         1       1.75         1390
16594  9106000005 2015-05-27  1310000.0         2       2.25         3750

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
16768     35100     2.0           0     0  ...      9        1970
9596       4750     1.0           0     0  ...      9        1700
9587      67518     2.0           0     0  ...      8        2820
20602      6500     2.0           0     0  ...      8        3310
11577      8119     1.0           0     0  ...      8        1080
...         ...     ...         ...   ...  ...    ...         ...
7898       7320     1.0           0     0  ...      7        1170
928        1140     2.0           0     0  ...      8        1080
5637       7344     1.5           0     0  ...      7        1870
13053      6670     1.0           0     0  ...      6         720
16594      5000     2.0           0     0  ...      8        2440

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
16768              0      1977             0    98027  47.4635 -121.991
9596             900      1951             0    98117  47.6833 -122.400
9587               0      1979             0    98029  47.5794 -122.025
20602              0      2012             0    98065  47.5150 -121.870
11577           1080      1966             0    98006  47.5443 -122.177
...              ...       ...           ...      ...      ...      ...
7898               0      1962             0    98188  47.4685 -122.282
928              290      2009             0    98133  47.7052 -122.343
5637               0      1960             0    98007  47.5951 -122.144
13053            670      1941             0    98115  47.6914 -122.308
16594           1310      1924             0    98115  47.6747 -122.303

       sqft_living15  sqft_lot15
16768           2340       35100
9596            2380        4750
9587            2820       48351
20602           2380        5000
11577           1850        9000
...              ...         ...
7898            2040        7320
928             1370        1090
5637            1870        7650
13053            920        6380
16594           2170        4590

[21613 rows x 21 columns]

In [124]:
# 2 - QUANTOS IMOVÉIS POSSUIEM O NÚMERO MAXIMO DE ANDARES?
#ENCONTRAR OS NUMEROS DE ANDARES E DETERMINAR O MAIOR
#CONTAR QUANTO IMÓVEIS EU TENHO POR ANDAR

In [125]:
print( data['floors'].unique())

[1.  2.  1.5 3.  2.5 3.5]

In [126]:
print( data[data['floors'] == 3.5].shape)

(8, 21)

In [127]:
# 3 -CRIAR UMA CLASSIFICAÇÃO PARA O IMÓVEIS, SEPARANDO-OS BAIXOS E ALTO PADRÃO DE ACORDO COM O PREÇO
#ACIMA DE R$540,00 = ALTO PADRÃO (high_standard)
#ABAIXO DE R$540,00 = BAIXO PADRÃO (low_standard)

In [128]:
data['level'] = 'standard'

data.loc[data['price'] > 540000, 'level'] = 'high_level'
data.loc[data['price'] < 540000, 'level'] = 'low_level'
print(data.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         1       1.00         1180
1  6414100192 2014-12-09  538000.0         2       2.25         2570
2  5631500400 2015-02-25  180000.0         1       1.00          770
3  2487200875 2014-12-09  604000.0         3       3.00         1960
4  1954400510 2015-02-18  510000.0         2       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...        1180              0
1      7242     2.0           0     0  ...        2170            400
2     10000     1.0           0     0  ...         770              0
3      5000     1.0           0     0  ...        1050            910
4      8080     1.0           0     0  ...        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15       level
0        5650   low_level
1        7639   low_level
2        8062   low_level
3        5000  high_level
4        7503   low_level

[5 rows x 22 columns]

In [129]:
# 4 -GOSTARIA DE UM RELATÓRIO ORDENADO PELO PREÇO E CONTENDO AS SENGUINTES INFORMAÇOES:
#ID DO IMOVEL, DATA QUE O IMOVEL FICOU DISPONIVEL PARA COMPRA, O NUMERO DE QUARTOS, O TAMANHO DO TERRENO, O PREÇO, A CLASSIFICAÇÃO DO IMOVEL(ALTO E BAIXO PADRÃO)

In [130]:
report = data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']].sort_values('price', ascending=False)
print(report.head())

#report.to_csv( 'datasets/report_aula02.csv', index=False ) - para salvar usando app baixado no curso

              id       date      price  bedrooms  sqft_lot       level
7252  6762700020 2014-10-13  7700000.0         8     27600  high_level
3914  9808700762 2014-06-11  7062500.0         4     37325  high_level
9254  9208900037 2014-09-19  6885000.0         7     31374  high_level
4411  2470100110 2014-08-04  5570000.0         5     35069  high_level
1448  8907500070 2015-04-13  5350000.0         5     23985  high_level

In [131]:
import matplotlib.pyplot as plt
import plotly.express as px
data_mapa = data[['id', 'lat', 'long', 'price']]

mapa =px.scatter_mapbox( data_mapa, lat= 'lat', lon='long',
                  hover_name='id',
                  hover_data= ['price'],
                  color_discrete_sequence=['fuchsia'],
                  zoom=3,
                  height=300  )

mapa.update_layout ( mapbox_style = 'open-street-map')
mapa.update_layout ( height=600, margin={ 'r':0, 't':0, 'l':0, 'b':0})


mapa.write_html('sample_data/mapa_house_rocket.html')

In [132]:
# 5 -GOSTARIA DE UM MAPA INDICANDO ONDE AS CASAS ESTÃO LOCALIZADA GEOGRAFICAMENTE