<a href="https://colab.research.google.com/github/neisg/Python---Imobiliaria/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
#Imobiliaria
#House Rocket

In [66]:
import pandas as pd

In [67]:
data = pd.read_csv('/content/kc_house_data.csv')

In [68]:
# mostrar 5 primeiras linhas
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [69]:
#linhas e colunas
print(data.shape)

(21613, 21)

In [70]:
#Ordenadar colunas (price)
print( data[[ 'id', 'price']].sort_values( 'price'))

               id      price
1149   3421079032    75000.0
15293    40000362    78000.0
465    8658300340    80000.0
16198  3028200080    81000.0
8274   3883800011    82000.0
...           ...        ...
1448   8907500070  5350000.0
4411   2470100110  5570000.0
9254   9208900037  6885000.0
3914   9808700762  7062500.0
7252   6762700020  7700000.0

[21613 rows x 2 columns]

In [71]:
#Ordenadar colunas (price) por ordem decrescente
print( data[[ 'id', 'price']].sort_values( 'price', ascending=False))

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [72]:
                                 # REGRA DE NEGOCIO

In [73]:
# 1-QUAL A DATA DO IMOVEL MAIS ANTIGO NO PORTFOLIO?
#ORDENAR O CONJUTO DE DADOS PELA MENOR DATA

In [74]:
# 2 - QUANTOS IMOVÉIS POSSUIEM O NÚMERO MAXIMO DE ANDARES?
#ENCONTRAR OS NUMEROS DE ANDARES E DETERMINAR O MAIOR
#CONTAR QUANTO IMÓVEIS EU TENHO POR ANDAR
#CRIAR UMA CLASSIFICAÇÃO PARA O NÚMERO MÁXIMO DE ANDARES?

In [75]:
# 3 -CRIAR UMA CLASSIFICAÇÃO PARA O IMÓVEIS, SEPARANDO-OS BAIXOS E ALTO PADRÃO DE ACORDO COM O PREÇO
#ACIMA DE R$540,00 = ALTO PADRÃO (high_standard)
#ABAIXO DE R$540,00 = BAIXO PADRÃO (low_standard)

In [76]:
# 4 -GOSTARIA DE UM RELATÓRIO ORDENADO PELO PREÇO E CONTENDO AS SENGUINTES INFORMAÇOES:
#ID DO IMOVEL, DATA QUE O IMOVEL FICOU DISPONIVEL PARA COMPRA, O NUMERO DE QUARTOS, O TAMANHO DO TERRENO, O PREÇO, A CLASSIFICAÇÃO DO IMOVEL(ALTO E BAIXO PADRÃO)

In [77]:
# 5 -GOSTARIA DE UM MAPA INDICANDO ONDE AS CASAS ESTÃO LOCALIZADA GEOGRAFICAMENTE